/*
 * ====================================================================
 * global.scss
 * 	Used to set some global styles for your project that are used on
 * 	ALL pages.
 * ====================================================================
 */

 body, html {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}