/*
 * ====================================================================
 * Global.less
 * 	Used to set some global styles for your project that are used on
 * 	ALL pages.
 * ====================================================================
 */

.gpu {
  .transform(translate3d(0,0,0));
  .backface-visibility(hidden);
  .perspective(1000);
}

canvas {
    position:absolute;
    top:0;
    left:0;
}

.no-fullscreen .hide-for-no-fullscreen {
  display: none !important;
}

a {
   outline: 0;
}
