<!doctype html>
<html>
<head>{{#is backend "none"}}{{#if unsupported}}
  <noscript>
    <meta http-equiv="refresh" content="0;url=unsupported.html">
  </noscript>{{/if}}{{/is}}
  <title>{{repoName}}</title>
  <meta name="description" content="">
  <!--
  Facebook metadata
  Info: https://developers.facebook.com/docs/sharing/webmasters
  Validator: https://developers.facebook.com/tools/debug/
  -->
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="en_US">
  <!--
  Twitter metadata
  Info: https://dev.twitter.com/cards/overview
  Validator: https://cards-dev.twitter.com/validator
  -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  <meta charset="utf-8">
  <base href="\{{BASENAME}}">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">{{#is backend "none"}}{{#if unsupported}}
  <script type="text/javascript">window.onerror=function(e) {if (e.indexOf('Expected identifier')==0) window.location = 'unsupported.html';}</script>
  <script type="text/javascript" src="unsupported.js" onload="window.onerror=undefined;"></script>{{/if}}{{/is}}
  <link rel="stylesheet" type="text/css" href="\{{stylesheet}}">
</head>
  <body>\{{#if vendor}}
  <script type="text/javascript" src="\{{vendor}}"></script>\{{/if}}
  <script type="text/javascript" src="\{{bundle}}"></script>
  </body>
</html>
