doctype html

html
  head
    title
    meta(charset="utf-8")
    link(rel="apple-touch-icon" href="/assets/images/appicon57x57.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/assets/images/appicon72x72.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/assets/images/appicon57x57@2x.png")
    link(rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/assets/images/favicon.ico" type="image/x-icon")
    meta(name="description" content="")
    link( rel="stylesheet" type="text/css" href="main.css")
    script(type="text/javascript" src="vendor.js")  
    script(type="text/javascript" src="bundle.js")
  body
html